.content {
  display: flex;
}

.sidebar {
  width: 400px;
  min-height: 100vh;
  background: #f7f7f7;
  border-right: 1px solid #ccc;
  position: relative;
}

.sidebar > .search {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 7px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.sidebar .searchForm {
  flex-basis: 65%;
  position: relative;
}

.sidebar .searchForm i {
  position: absolute;
  top: 48%;
  transform: translateY(-50%);
  color: #aaa;
  left: 12px;
  font-size: 12px;
}

.sidebar .searchForm input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 2px #ddd;
  font-size: 15px;
  border-radius: 8px;
  font-weight: 600;
  padding-left: 33px;
  color: #333;
}


.sidebar .submitForm {
  flex-basis: 17%;
}

.sidebar .submitForm button {
  color: var(--first-color);
  font-weight: 600;
}

.sidebar nav {
  padding: 40px;
}

.sidebar nav ul li {
  position: relative;
}

.sidebar nav ul a {
  color: #111;
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
  font-size: 17px;
  padding: 15px;
  border-radius: 10px;
  transition: 0.4s;
}

.sidebar nav ul a:hover {
  background-color: #ddd;
  color: #425ffa
}

.sidebar nav ul a.active {
  background-color: #425ffa;
  color: #fff
}

.sidebar nav ul span {
  color: #ff9800;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  transition: 0.4s;
}

.sidebar nav ul a:hover + span {
  color: #425ffa
}

.sidebar nav ul a.active + span {
  color: #fff
}


.sidebar nav ul p {
  color: #999;
  font-weight: 500;
  font-style: italic;
  font-size: 18px;
}

.sidebar .logo {
  position: absolute;
  bottom: 0;
  display: flex;
  border-top: 1px solid #ccc;
  width: 100%;
  padding: 15px 30px;
  gap: 10px;
  align-items: center;
  font-weight: 600;
}

.sidebar .logo img {
  mix-blend-mode: multiply;
}

#detail {
  padding: 50px 100px;
  flex: 1;
}

.loading {
  opacity: 0.3;
}